# Ignore build files
build/
install/
log/

# Ignore Python cache
__pycache__/
*.pyc
aerocluster_ws/src/aerocluster/aerocluster/takeoff_master.py
aerocluster_ws/src/aerocluster/aerocluster/takeoff_slave.py

# Ignore ROS 2 workspace artifacts
*.log
.DS_Store